<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="snooze.ninja">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:name="snooze.ninja.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="snooze.ninja.MyActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.SEND" />
                <action android:name="com.google.android.gm.action.AUTO_SEND" />
                <action android:name="com.google.android.voicesearch.action.AUTO_SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.google.android.voicesearch.SELF_NOTE" />

                <data android:mimeType="text/*" />

            </intent-filter>

        </activity>

        <service android:name="snooze.ninja.runners.NotificationService"></service>
        <service android:name="snooze.ninja.runners.DeleteNotificationService"></service>
        <service android:name="snooze.ninja.runners.AlarmIntentService"></service>
        <service android:name="snooze.ninja.runners.ShowAllService"></service>
        <service android:name="snooze.ninja.runners.DismissSnoozeNotificationService"></service>

    </application>

</manifest>
